<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="/header :: header" th:with="title='xx'"></head>
<body class="no-skin" style="background-color:Transparent;">
<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-body">
                <div class="widget-main">
                    <div class="form-inline"  action="#">
                        <div class="form-group">
                            <label for="name" style="margin-left: 10px;font-weight: bold;"> 分组名： </label>
                            <input type="text" id="name" placeholder="支持模糊匹配" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-sm" style="height: 34px;margin-left: 20px;border-radius: 5px;" onclick="groupManage.query();">
                                <i class="ace-icon fa fa-search align-top"></i>
                                查询
                            </button>
                        </div>
                        <!--<div class="form-group col-sm-3">-->
                            <!--<span class="input-group-addon">-->
                                <!--<i class="fa fa-calendar bigger-110"></i>-->
                            <!--</span>-->
                            <!--<input class="form-control" type="text" name="date-range-picker" id="id-date-range-picker-1" />-->
                        <!--</div>-->
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table id="grid-table"></table>
        <div id="grid-pager"></div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->

<head th:include="/footer :: footer"></head>
<script src="/static/pages/groupManage/groupManage.js"></script>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function ($) {
        groupManage.init();
    });
</script>
</body>
</html>
