<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Photography Website Concept</title>
    <meta name="description"
          content="A photography-inspired website layout with an expanding stack slider and a background image tilt effect"/>
    <meta name="keywords"
          content="photography, template, layout, effect, expand, image stack, animation, flickity, tilt"/>
    <meta name="author" content="Codrops"/>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/main/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/static/main/css/flickity.css"/>
    <link rel="stylesheet" type="text/css" href="/static/main/css/main.css"/>
    <script src="/static/main/js/modernizr.custom.js"></script>
    <script src="/static/main/js/baguetteBox.js"></script>
</head>
<body>
<div class="container">
    <div class="hero">
        <div class="hero__back hero__back--static"></div>
        <div class="hero__back hero__back--mover"></div>
        <div class="hero__front"></div>
    </div>
    <header class="codrops-header">
        <h1 class="codrops-title">Mr.xuzheng <span>:)</span></h1>
        <nav class="menu">
            <!-- <a class="menu__item" href="#"><span>About</span></a>
            <a class="menu__item menu__item--current" href="#"><span>Work</span></a>
            <a class="menu__item" href="#"><span>Contact</span></a> -->
        </nav>
    </header>
    <div class="stack-slider">
        <div class="stacks-wrapper">
            <div class="stack" id="imglist">
                <h2 class="stack-title"><a href="#" data-text="逗比进化史"><span>BING图集1</span></a></h2>

            </div>
            <div class="stack" id="">
                <h2 class="stack-title"><a href="#" data-text="逗比进化史"><span>BING图集2</span></a></h2>

            </div>
        </div>
        <!-- /stacks-wrapper -->
    </div>
    <!-- /stacks -->
    <img class="loader" src="/static/main/img/three-dots.svg" width="60" alt="Loader image"/>
</div>
<!-- /container -->
<!-- Flickity v1.0.0 http://flickity.metafizzy.co/ -->
<script src="/static/main/js/flickity.pkgd.min.js"></script>
<script src="/static/main/js/smoothscroll.js"></script>
<script src="/static/main/js/main.js"></script>
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/utils.js"></script>


<script>

    $(function () {

        function getImgDiv(data){
        var div = '<div class="item">' +
                    '<div class="item__content">' +
                        '<img src="'+data.url+'" alt="img05"/>' +
                        ' <h3 class="item__title">Meditation pickled mumblecore <span class="item__date">05/05/2015</span> </h3>' +
                        '<div class="item__details">' +
                        '<ul>' +
                            '<li><i class="icon icon-camera"></i><span>Canon PowerShot S95</span></li>' +
                            '<li><i class="icon icon-focal_length"></i><span>22.5 mm</span></li>' +
                            '<li><i class="icon icon-aperture"></i><span>&fnof;/5.6</span></li>' +
                            '<li><i class="icon icon-exposure_time"></i><span>1/1000</span></li>' +
                            '<li><i class="icon icon-iso"></i><span>80</span></li>' +
                        '</ul>' +
                       '</div>' +
                    '<p>Images by <a href="https://www.flickr.com/photos/martinaphotography/">martinak15</a></p>' +
                    '</div>' +
                   '</div>';
            return div;
        }

        $.ajax({
            async: false,
            url:  baseUrl + "/fileManage/getFiles",
            type: "POST",
            data: {},
            success: function (response) {
                var data = $.parseJSON(response);
                if (data.code == 200) {
                    if(data.data !=null && data.data.length>0){
                        for (var i = 0;i<data.data.length;i++) {
                            var tmp = data.data[i];
                            var li = getImgDiv(tmp);
                            $("#imglist").append(li);
                        }
                    }
                }
            }
        });

        //返回顶部
        $(window).scroll(function () {
            var sc = $(window).scrollTop();
            var rwidth = $(window).width()
            if (sc > 500) {
                $("#goTopBtn").css("display", "block");
                $("#goTopBtn").css("left", (rwidth - 106) + "px")
            } else {
                $("#goTopBtn").css("display", "none");
            }
        })
        $("#goTopBtn").click(function () {
            var sc = $(window).scrollTop();
            $('body,html').animate({scrollTop: 0}, 100);
        })

        $(".allnews").click(function () {
            $("#allcon").css("height", "auto");
            $(this).hide(1000);
        });
    })

</script>
</body>
</html>